.flex-container{
    display: flex;
    align-items: center;
}

.link-font{
    @extend .nunito-extrabold;
    font-size: 1vh;
    color: $primary-color;
    text-decoration: unset;

    &:hover{
    color: rgba(26, 26, 29, 0.5);
    }

    @media screen and (min-width: 1920px) {
        font-size: 14px;
    }
}

.icon-button{
    font-size: 1.2vh;
    border: none;
    background-color: transparent;
    outline: unset;
    padding: 0;

    @media screen and (min-width: 1920px) {
        font-size: 14px;
    }
}

header{
    justify-content: space-between;
    max-width: 1920px;
    height: 3vh;
    max-height: 32px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;

    .site-title{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2vh;

        @media screen and (min-width: 1920px) {
            font-size: 36px;
        }
    }

    .left-controls{
        margin-left: 3.2vw;

        @media screen and (min-width: 1920px) {
            margin-left: 61px;
        }
    }

    .clients-link{
        margin-left: 2.4vw;
        margin-right: 2.8vw;

        @media screen and (min-width: 1920px) {
            margin-left: 46px;
            margin-right: 53px;
        }
    }

    .search-controls{
        margin-right: 3.4vw;

        @media screen and (min-width: 1920px) {
            margin-right: 66px;
        }
    }
}

.header-hide{
    opacity: 0.1;

    &:hover{
        opacity: 1;
    }
}

.photo-pages {
    position: absolute;
    left: 50%;
    bottom: 2.8vh;
    transform: translateX(-50%);
    padding-left: 0;
    list-style: none;
    margin: 0;

    @media screen and (min-width: 1920px) {
        bottom: 30px;
    }
}

.photo-page {
    width: 6px;
    height: 6px;
    opacity: 0.5;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
    cursor: pointer;

    &.active, &:hover {
        width: 12px;
        height: 12px;
        opacity: 1;
        margin-right: 14px;
        border-radius: 6px;
    }
}

.photo-page:last-child{
    margin: 0;

    &:hover {
        margin-left: -6px;
    }
}

footer{
    padding: 0px 3.125vw;

    @media screen and (min-width: 1920px) {
        padding: 0px 60px;
    }

    .up-block{
        width: 100%;
        height: 10.8vh;
        max-height: 117px;
        justify-content: space-between;

        @media screen and (orientation: portrait) {
            height: 5vh;
        }
   }

    .logo{
        font-size: 1.46vw;

        @media screen and (min-width: 1920px) {
            font-size: 28px;
        }

        @media screen and (orientation: portrait) {
            font-size: 10px;
        }
    }

    .sign-up{
        box-sizing: border-box;
        border-left: 1px solid #b4d3d3;
        padding: 5px 0px 5px 2.6vw;
        font-size: 1.3vh;
        line-height: 2.14;
        letter-spacing: 2.8px;
        color: $primary-color;

        i{
            margin-left: 2.08vw;
        }

        @media screen and (min-width: 1920px) {
            padding: 5px 0px 5px 50px;
            font-size: 14px;

            i{
                margin-left: 40px;;
            }
        }

        a{
            text-decoration: unset;
            color: #1a1a1d;
        }

        @media screen and (orientation: portrait) {
            font-size: 8px;
        }

    }

    .down-block{
        width: 100%;
        height: 10.3vh;
        max-height: 111px;
        border-top: 2px solid #f5f5f5;;
        justify-content: space-between;

        @media screen and (orientation: portrait) {
            height: 3vh;
        }
    }

    .cooperating-info{
        font-size: 1.4vh;
        color: #77777e;

        @media screen and (min-width: 1920px) {
            font-size: 15px;
        }

        @media screen and (orientation: portrait) {
            font-size: 8px;
        }
    }

    .social-networks{
        width: 9.58vw;
        max-width: 184px;
        justify-content: space-between;

        @media screen and (orientation: portrait) {
            width: 20vw;
        }
    }

    .social-network{
        text-decoration: unset;
        color: #1a1a1d;

        @media screen and (orientation: portrait) {
            font-size: 10px;
        }
    }

}

