.first-screen {
  height: 100vh;
  max-height: 1080px;
  position: relative;

  @media screen and (orientation: portrait) {
    height: 43vh;
  }

  .rectangle-with-bg {
    width: 25vw;
    max-width: 480px;
    height: 75vh;
    max-height: 810px;
    right: 0;
    position: absolute;
    top: 0;
    background-image: linear-gradient(225deg, #b4d3d3, #d9e7e7);

    @media screen and (orientation: portrait) {
      display: none;
    }
  }

  .main-content {
    width: 94vw;
    max-width: 1800px;
    height: 75vh;
    max-height: 810px;
    position: absolute;
    left: 0;
    bottom: 0;

    @media screen and (orientation: portrait) {
      width: 100vw;
      top: 4vh;
      flex-direction: column-reverse;
    }
  }

  .slider-meta {
    width: 25vw;
    max-width: 480px;
    height: 100%;
    position: relative;

    @media screen and (orientation: portrait) {
      width: 100vw;
      height: 50vh;
    }
  }

  .person-info {
    color: $primary-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    z-index: 1;

    @media screen and (orientation: portrait) {
      top: 4vh;
      left: 0;
      margin-left: 10px;
    }
  }

  .person-name {
    //font-size: 10.5vh;
    font-size: calc((100vh - 600px) / (1080 - 600) * (101 - 50) + 50px);
    letter-spacing: 2px;
    color: $primary-color;
    max-width: 500px;
    margin: 0;

    @media screen and (min-width: 1920px) {
      font-size: 101px;
    }

    @media screen and (orientation: portrait) {
      font-size: 32px;
    }
  }

  .person-job {
    margin-top: 3vh;
    font-size: 1.2vh;
    text-transform: uppercase;
    letter-spacing: 3.4px;

    @media screen and (min-width: 1920px) {
      font-size: 17px;
      margin-top: 34px;
    }

    @media screen and (orientation: portrait) {
      margin-top: 5px;
    }
  }

  .slider-controls {
    position: absolute;
    left: 0;
    bottom: 8vh;
    width: 100%;
    font-size: 1.1vh;

    @media screen and (min-width: 1920px) {
      bottom: 88px;
      font-size: 12px;
    }

    @media screen and (orientation: portrait) {
      display: none;
    }
  }

  .slider-pages {
    position: absolute;
    //font-size: 1.1vh;
    letter-spacing: 2.4px;
    left: 3vw;
    bottom: 0;
    color: $primary-color;
    padding-left: 0;
    list-style: none;
    margin: 0;

    @media screen and (min-width: 1920px) {
      left: 62px;
      font-size: 12px;
    }
  }

  .slider-page {
    opacity: 0.7;
    margin-top: 4vh;
    cursor: pointer;
    position: relative;

    @media screen and (min-width: 1920px) {
      margin-top: 41px;
    }

    &.active,
    &:hover {
      opacity: 1;
    }

    &.active:before {
      content: "";
      position: absolute;
      //width: 28px;
      width: 2em;
      height: 0.2em;
      background-color: $primary-color;
      display: inline-block;
      left: -3vw;
      top: 50%;
      margin-top: -0.2em;

      @media screen and (min-width: 1920px) {
        left: -62px;
        width: 28px;
        height: 2px;
        margin-top: -2px;
      }
    }
  }

  .slider-arrows {
    position: absolute;
    left: 50%;
    bottom: 0;

    @media screen and (orientation: portrait) {
      display: none;
    }

    .fa-long-arrow-alt-left {
      margin-right: 3vw;
      &.disabled {
        opacity: 0.5;
      }

      @media screen and (min-width: 1920px) {
        margin-right: 50px;
      }
    }

    .fa-long-arrow-alt-right {
      &.disabled {
        opacity: 0.5;
      }
    }
  }

  .slide-content {
    flex-grow: 1;
    height: 100%;
    position: relative;
    background-color: $photo-color;

    @media screen and (orientation: portrait) {
      width: 100vw;
      height: 60vw;
    }
  }

  .slider-arrows-portrait {
    display: none;

    @media screen and (orientation: portrait) {
      display: block;
      width: 100vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;

      .fa-long-arrow-alt-left {
        &.disabled {
          opacity: 0.5;
        }
      }

      .fa-long-arrow-alt-right {
        position: absolute;
        right: 0;

        &.disabled {
          opacity: 0.5;
        }
      }
    }
  }

  .white-stick {
    width: 3vw;
    max-width: 56px;
    height: 0.6vh;
    max-height: 7px;
    background-color: #fff;
    position: absolute;
    top: 25vh;
    left: 12vw;

    @media screen and (min-width: 1920px) {
      top: 271px;
      left: 233px;
    }

    @media screen and (orientation: portrait) {
      display: none;
    }
  }

  .slide-button {
    width: 9vh;
    max-width: 106px;
    height: 9vh;
    max-height: 106px;
    background-color: #fff;
    position: absolute;
    top: 6vh;
    right: 6vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    color: #777;

    @media screen and (min-width: 1920px) {
      font-size: 34px;
      top: 70px;
      right: 70px;
    }

    @media screen and (orientation: portrait) {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }

    i {
      position: relative;
      left: 3px;

      @media screen and (max-width: 1280px) {
        left: 2px;
      }

      @media screen and (max-width: 800px) {
        left: 1px;
      }

      @media screen and (max-width: 400px) {
        left: 0px;
      }
    }
  }

  .slide-title {
    width: 25vw;
    max-width: 480px;
    height: 8vh;
    max-height: 90px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0px;
    line-height: 9vh;
    text-align: center;
    color: #87bbbc;
    font-size: 1vh;
    letter-spacing: 2.8px;
    text-transform: uppercase;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      line-height: 90px;
    }

    @media screen and (orientation: portrait) {
      line-height: 5.14;
      width: 50vw;
      height: 5vh;
    }
  }
}

.second-screen {
  height: 110vh;
  max-height: 1188px;
  padding: 11vh;
  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: 1920px) {
    padding: 120px;
    height: 1188px;
  }

  @media screen and (max-width: 1200px) {
    padding: 40px;
  }

  @media screen and (orientation: portrait) {
    flex-direction: column;
    padding-bottom: 0;
    height: unset;
  }

  .photo-slider-control-block {
    width: 50%;
    height: 100%;

    @media screen and (max-width: 1200px) {
      width: 65%;
    }

    @media screen and (orientation: portrait) {
      width: 100%;
      height: 50vh;
    }
  }

  .photo-slider-control {
    width: 34vw;
    max-width: 649px;
    height: 100%;
    background-color: $photo-color;
    position: relative;

    @media screen and (max-width: 1200px) {
      width: 50vw;
    }

    @media screen and (orientation: portrait) {
      width: 85%;
    }
  }

  .about-person {
    height: 100%;
  }

  .person-content {
    width: 25vw;
    max-width: 477px;
    margin-top: 8vh;

    @media screen and (min-width: 1920px) {
      margin-top: 90px;
    }

    @media screen and (orientation: portrait) {
      width: 100%;
      margin-top: 3vh;
    }
  }

  .about-person-pages {
    padding-left: 0;
    list-style: none;
    margin: 0;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-size: 0.6vw;
    color: $primary-color;
    justify-content: space-between;

    @media screen and (min-width: 1920px) {
      font-size: 12px;
    }

    @media screen and (orientation: portrait) {
      font-size: 2.5vw;
    }
  }

  .about-person-page {
    opacity: 0.7;
    cursor: pointer;
    position: relative;

    &.active,
    &:hover {
      opacity: 1;
    }

    &.active:before {
      content: "";
      position: absolute;
      width: 10em;
      height: 0.2em;
      background-color: $primary-color;
      display: inline-block;
      left: 50%;
      top: 2.3vh;
      transform: translateX(-50%);

      @media screen and (min-width: 1920px) {
        width: 120px;
        height: 2px;
        top: 25px;
      }

      @media screen and (max-width: 1024px) {
        width: 7em;
      }
    }
  }

  .about-person-content {
    position: relative;
    top: 12vh;

    @media screen and (min-width: 1920px) {
      top: 130px;
    }

    @media screen and (orientation: portrait) {
      top: 3vh;
    }
  }

  .content-name {
    font-size: 3vw;
    color: $primary-color;
    margin: 0;
    margin-bottom: 5vh;

    @media screen and (min-width: 1920px) {
      font-size: 60px;
      margin-bottom: 34px;
    }

    @media screen and (orientation: portrait) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  .content-intro {
    font-size: 1.3vw;
    line-height: 1.5;
    color: $primary-color;
    margin-bottom: 2.9vh;

    @media screen and (min-width: 1920px) {
      font-size: 24px;
      margin-bottom: 31px;
    }

    @media screen and (orientation: portrait) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  .awards {
    font-size: 0.8vw;
    color: $primary-color;
    margin-bottom: 4.4vh;

    i {
      margin-right: 1.9vh;
    }

    @media screen and (min-width: 1920px) {
      font-size: 16px;
      margin-bottom: 58px;

      i {
        margin-right: 20px;
      }
    }

    @media screen and (orientation: portrait) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  .content-text {
    font-size: 0.8vw;
    line-height: 1.88;
    color: #767679;

    @media screen and (min-width: 1920px) {
      font-size: 16px;
      margin-bottom: 31px;
    }

    @media screen and (orientation: portrait) {
      font-size: 10px;
      margin-bottom: 10px;
    }
  }

  .social-networks-block {
    position: absolute;
    right: 5.8vw;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (min-width: 1920px) {
      right: 112px;
    }

    @media screen and (orientation: portrait) {
      top: 25%;
      transform: translateY(-50%);
      font-size: 16px;
    }
  }

  .social-networks {
    padding-left: 0;
    list-style: none;
    margin: 0;
    flex-direction: column;

    @media screen and (orientation: portrait) {
      font-size: 10px;
    }
  }

  .social-network {
    margin-bottom: 3.7vh;
    text-decoration: unset;
    color: $primary-color;

    @media screen and (min-width: 1920px) {
      margin-bottom: 40px;
    }

    &:hover {
      color: rgba(26, 26, 29, 0.5);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.third-screen {
  height: 100vh;
  max-height: 1080px;
  padding: 11vh;
  padding-top: 0px;
  position: relative;

  @media screen and (min-width: 1920px) {
    padding: 120px;
    padding-top: 0px;
  }

  @media screen and (max-width: 1200px) {
    padding: 20px;
  }

  @media screen and (orientation: portrait) {
    flex-direction: column;
    height: unset;
  }

  .left-info-block {
    width: 50%;
    height: 100%;
    position: relative;

    @media screen and (orientation: portrait) {
      width: 100%;
      height: 50vh;
    }
  }

  .left-info-content {
    width: 30vw;
    max-width: 570px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    @media screen and (orientation: portrait) {
      width: 100%;
      left: 20px;
      top: 0;
      transform: translate(0%, 0%);
    }
  }

  .left-title {
    max-width: 465px;
    font-size: 3vw;
    line-height: 1.32;
    color: $primary-color;
    margin: 0;

    @media screen and (min-width: 1920px) {
      font-size: 59px;
    }

    @media screen and (orientation: portrait) {
      font-size: 24px;
    }
  }

  .left-stick {
    width: 7.3vw;
    max-width: 140px;
    height: 0.2vh;
    max-height: 2px;
    background-color: $primary-color;
    margin-top: 4.6vh;
    margin-bottom: 7.41vh;

    @media screen and (min-width: 1920px) {
      margin-top: 50px;
      margin-bottom: 80px;
    }

    @media screen and (orientation: portrait) {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  .left-article {
    height: 7.2vw;
    max-height: 139px;
    width: 100%;
    margin-bottom: 4.6vh;

    @media screen and (min-width: 1920px) {
      margin-bottom: 50px;
    }

    @media screen and (orientation: portrait) {
      height: 20vw;
    }

    &:hover {
      cursor: pointer;

      .article-title {
        color: #87bbbc;
      }

      .article-photo {
        background-color: #b4d3d3;
        i {
          display: inline-block;
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .title-date-block {
    height: 100%;
    position: relative;
  }

  .article-photo {
    width: 10.42vw;
    max-width: 200px;
    height: 100%;
    flex-shrink: 0;
    background-color: $photo-color;
    margin-right: 2.2vw;

    @media screen and (min-width: 1920px) {
      margin-right: 42px;
    }

    @media screen and (orientation: portrait) {
      width: 32vw;
    }

    i {
      display: none;
    }
  }

  .article-title {
    margin: 0;
    font-size: 1.25vw;
    line-height: 1.5;
    color: $primary-color;
    position: relative;
    top: -0.5vh;

    @media screen and (min-width: 1920px) {
      font-size: 24px;
      top: -8px;
    }

    @media screen and (orientation: portrait) {
      font-size: 12px;
      top: -4px;
    }
  }

  .article-date {
    font-size: 0.8vw;
    color: #77777e;
    position: absolute;
    bottom: 0;

    @media screen and (min-width: 1920px) {
      font-size: 16px;
    }

    @media screen and (orientation: portrait) {
      font-size: 10px;
    }
  }

  .more-info {
    font-size: 0.7vw;
    letter-spacing: 2.8px;
    margin-top: 5.8vh;
    text-transform: uppercase;
    a {
      text-decoration: unset;
      color: #000000;
    }

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      margin-top: 63px;
    }

    @media screen and (orientation: portrait) {
      font-size: 10px;
      margin-top: 30px;
    }
  }

  .fa-long-arrow-alt-right {
    margin-left: 1.15vw;

    @media screen and (min-width: 1920px) {
      margin-left: 22px;
    }
  }

  .right-photo {
    flex-grow: 1;
    height: 100%;
    background-color: $photo-color;

    @media screen and (orientation: portrait) {
      width: 100%;
      height: 60vh;
    }
  }
}

.forth-screen {
  padding: 0 11vh;
  margin-bottom: 18.52vh;

  @media screen and (min-width: 1920px) {
    padding: 0 120px;
    margin-bottom: 200px;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }

  @media screen and (orientation: portrait) {
    margin-bottom: 50px;
  }

  .section-header {
    width: 100%;
    justify-content: space-around;

    @media screen and (orientation: portrait) {
      flex-direction: column;
    }
  }

  .section-header-block-left {
    max-width: 421px;

    @media screen and (orientation: portrait) {
      width: 100%;
    }
  }

  .forth-title {
    font-size: 3.125vw;
    color: $primary-color;
    margin: 0;

    @media screen and (min-width: 1920px) {
      font-size: 60px;
    }

    @media screen and (orientation: portrait) {
      font-size: 24px;
    }
  }

  .forth-stick {
    width: 7.3vw;
    max-width: 140px;
    height: 0.2vh;
    background-color: $primary-color;
    margin-top: 4.5vh;

    @media screen and (min-width: 1920px) {
      //font-size: 60px;
      margin-top: 49px;
    }

    @media screen and (orientation: portrait) {
      margin: 20px 0;
    }
  }

  .section-header-block-right {
    max-width: 567px;

    @media screen and (orientation: portrait) {
      width: 100%;
    }
  }

  .forth-info {
    font-size: 1.5vh;
    line-height: 1.88;
    color: #767679;

    @media screen and (min-width: 1920px) {
      font-size: 16px;
    }

    @media screen and (orientation: portrait) {
      font-size: 14px;
    }
  }

  .explore-more {
    font-size: 1.3vh;
    letter-spacing: 2.8px;
    color: #000000;
    margin-top: 3.9vh;
    text-transform: uppercase;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      margin-top: 42px;
    }

    a {
      text-decoration: unset;
      color: #000000;
    }

    i {
      margin-left: 22px;
    }
  }

  .photo-carousel {
    width: 100%;
    position: relative;
    margin-top: 12vh;

    @media screen and (min-width: 1920px) {
      margin-top: 130px;
    }

    @media screen and (orientation: portrait) {
      margin-top: 30px;
    }
  }

  .photo-block {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (orientation: portrait) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .photo {
    height: 45vh;
    max-height: 490px;
    background-color: $photo-color;

    &:hover .item-inner {
      display: block;
    }

    @media screen and (orientation: portrait) {
      height: 20vh;
    }
  }

  .hide-photo {
    @media screen and (orientation: portrait) {
      display: none;
    }
  }

  .item-inner {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 4, 9, 0.81);
  }

  .round-button {
    border: none;
    outline: unset;
    position: absolute;
    width: 2.92vw;
    max-width: 56px;
    height: 2.92vw;
    max-height: 56px;
    border-radius: 50%;
    background-color: #b4d3d3;
    top: 1vw;
    right: 1vw;

    @media screen and (min-width: 1920px) {
      top: 20px;
      right: 20px;
    }

    @media screen and (orientation: portrait) {
        font-size: 8px;
        width: 20px;
        height: 20px;
      }

    i {
      transform: rotate(45deg);
      color: #fff;
      font-size: 24px;

      @media screen and (orientation: portrait) {
        font-size: 8px;
      }
    }
  }

  .item-info {
    position: absolute;
    bottom: 4.6vh;
    left: 0;
    right: 0;
    text-align: center;

    @media screen and (min-width: 1920px) {
      bottom: 50px;
    }
  }

  .person-name {
    color: white;
    margin-bottom: 1vw;
    font-size: 1.56vw;
    letter-spacing: 0.6px;

    @media screen and (min-width: 1920px) {
      margin-bottom: 19px;
      font-size: 30px;
    }
  }

  .person-job {
    font-size: 0.625vw;
    letter-spacing: 2.4px;
    color: #aeaeb7;
    text-transform: uppercase;

    @media screen and (min-width: 1920px) {
      font-size: 12px;
    }
  }

  .photo-pages {
    position: absolute;
    left: 50%;
    bottom: -70px;
    transform: translateX(-50%);

    @media screen and (orientation: portrait) {
      bottom: -30px;
    }
  }

  .photo-page {
    background-color: #b4d3d3;
  }
}
